:root {
    --accent: #448aff;
    --color-err: #ff5144;
    --color-white: rgba(255,255,255, .52);
    --color-gray: rgba(255,255,255, .24);
    --color-dark: rgba(255,255,255, .12);
    --card-border: #424242;
    /* https://material.io/design/motion/speed.html#easing */
    --anim-std: cubic-bezier(0.4, 0.0, 0.2, 1);
    --anim-peak-to-rest: cubic-bezier(0.0, 0.0, 0.2, 1);
    --anim-rest-to-peak: cubic-bezier(0.4, 0.0, 1, 1);
    --anim-ez-overshoot: cubic-bezier(0.4, 0.0, 0.2, 1.4);
    --anim-hard-overshoot: cubic-bezier(0.4, 0.0, 0.2, 1.6);
    font-size: 16px;
    line-height: 1.5;
}

noscript {
    display: block;
    border: 1px solid #ff5144;
    border: 1px solid var(--color-err);
    padding: 0 1em;
}

summary {
    cursor: pointer;
}

form { display: flex; }
form > :last-child:not(:first-child) { margin-left: .5em; }

.loading {
    position: absolute;
    opacity: 1;
    margin: 0;
}

.container {
    padding: 0 1em;
    margin: 1em auto;
    /* margin-bottom: 1rem; */
    max-width: 840px;
}

.yt-embed {
    position: relative;
    padding-top: 56.25%;
    background-color: #000;
}
.yt-embed * {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
}

a, [href] {
    color: var(--accent);
}

iframe {
    display: block;
    width: 100%;
}

code {
    font-size: 87%;
    padding: .2em .4em;
    background-color: #353535;
    color: #F06292;
    border-radius: 2px;
}

samp {
    font-size: 92%;
}

.with-love {
    color: var(--color-white);
}
.with-love a {
    color: inherit;
}

.flex { display: flex; }
.flex-stretch, .flex-stretch { flex: 1; margin: auto; }

.yt-select {
       -moz-appearance: none;
    -webkit-appearance: none;
            appearance: none;
    background: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iIzU0NTQ1NCI+PHBhdGggZD0iTTcgMTBsNSA1IDUtNXoiPjwvcGF0aD48L3N2Zz4=);
    background-position: right 50%;
    background-repeat: no-repeat;
    border: 2px solid var(--color-gray);
    color: var(--color-white);
    font: inherit;
    font-size: 14px;
    margin: 1em 0;
    padding: .5em 1.5em .5em 1em;
    min-width: 120px;
}

/***********************************************************
 * Search lol
 */

ul.a11y-list,
ol.a11y-list {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

/* see anim for search-li anims */
.search-li {
    border: 1px solid var(--color-gray);
}
.search-li:not(:last-child) {
    border-bottom: 0;
}

.search-card {
    display: flex;
    color: inherit;
    text-decoration: inherit;
}
.search-card-content {
    flex: 1;
    padding: 1em;
    order: 2;
    margin: auto 0;
}
.search-card-cover {
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    max-width: 30%;
    resize: horizontal;
    order: 1;
}
.search-card-cover::after {
    flex: 1;
    content: '';
    display: block;
    padding-top: 56.25%;
}
.search-card-duration {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    padding: .25em .5em;
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
}
.search-card-entry {
    opacity: .72;
    display: block;
    font-size: 12px;
    margin-bottom: .125em;
    font-weight: 300;
}
.search-card-entry:first-child {
    opacity: 1;
    font-weight: 400;
    font-size: 14px;
}

/***********************************************************
 * yt
 */

.yt {
    border: 1px solid var(--color-gray);
    overflow: hidden;
    background-color: #1e1e1e;
}

.yt-dl__lists {
    display: flex;
    flex-flow: wrap;
}

.yt-dl__lists > ul {
    flex: 1;
}

.yt-embed, .yt-dl {
    border-bottom: 1px solid var(--color-gray);
}
.yt-dl {
    padding: 1rem;
}
.yt-meta {
    padding: 1rem;
    padding-bottom: 0;
}
.yt-meta__title {
    display: block;
    font-size: 1.75rem;
    margin: .5rem 0;
    font-weight: bolder;
}
.yt-meta[data-category] .yt-meta__title::before {
    font-family: "Material Icons";
    display: inline-block;
    margin-right: .25em;
    opacity: .52;
    font-size: 20px;
}

.yt-meta[data-category="Music"] .yt-meta__title::before {
    content: "music_note";
}

.yt-meta__data {
    opacity: .72;
    display: block;
    margin: .125rem 0;
}
.yt-desc {
    white-space: pre-wrap;
    padding: 1rem;
}

.yt-related {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    line-height: 0;
    margin: 0;
    padding: 1rem;
    padding-bottom: 0;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-type: x proximity;
    scroll-snap-type: x proximity;
    scroll-padding: 1rem;
}
.yt-card {
    position: relative;
    display: inline-flex;
    width: 240px;
    height: 137.5px;
    border: 1px solid var(--card-border);
    margin-right: 1rem;
    background-size: cover;
    vertical-align: bottom;
    white-space: normal;
    line-height: 1.5;
    scroll-snap-align: start;
    color: inherit !important;
    text-decoration: inherit;
}
/* Last card lol */
.yt-card--back-to-search__container {
    margin: auto;
    text-align: center;
}
.yt-card--back-to-search i.material-icons {
    display: inline-block;
    padding: .25em;
    font-size: 32px;
}
.yt-card--back-to-search .yt-card-label {
    display: block;
}

.yt-card--info {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    width: 100%;
    padding: .5rem;
    /* background: linear-gradient(transparent,rgba(0,0,0, .46)); */
}
.yt-card--info * {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/***********************************************************
 * yt-input
 */
 .yt-input {
    background: 0;
    border: 0;
    color: inherit;
    font: inherit;
    font-size: 87.5%;
    border: 2px solid var(--color-gray);
    outline: 0;
    padding: .5em .75em;
    width: 100%;
    font-size: 18px;
    transition:
        border .2s var(--anim-std),
        background .2s var(--anim-std)
    ;
}
.yt-input:focus {
    color: #fafafa;
    border-color: var(--accent);
    /* background-color: var(--dark); */
}

/***********************************************************
 * Media queries
 */
@media only screen and (max-width: 600px) {
    .container .mobile-edge-flush {
        margin-left: -1em;
        margin-right: -1em;
    }
    .search-card-content {
        padding: .5em;
    }
    .yt-meta {
        padding: 1rem;
        border-bottom: 1px solid var(--color-gray);
    }
    .yt {
        border-left: 0;
        border-right: 0;
        margin: 0;
    }
    .yt-dl__lists ul:nth-of-type(3) {
        flex: 1 100%;
    }
}

/***********************************************************
 * Anims
 */

@media not all and (prefers-reduced-motion: reduce) {
    @supports (--css: variables) {
        .search-li {
            opacity: 0;
            animation-name: slide-in;
            animation-duration: 250ms;
            animation-delay: calc(var(--animation-order) * 50ms);
            animation-fill-mode: forwards;
            animation-timing-function: var(--anim-peak-to-rest);
        }
    }

    .search-list {
        /* animation: sliding-into-dms-like .4s var(--anim-peak-to-rest); */
        animation-fill-mode: forwards;
    }

    .loading {
        animation: fade-in .2s var(--anim-peak-to-rest);
        animation-fill-mode: forwards;
        animation-delay: .4s;
        opacity: 0;
    }
    .view {
        animation: sliding-into-dms-like .4s var(--anim-peak-to-rest);
        animation-fill-mode: forwards;
    }
    .search {
        animation: fade-in .4s var(--anim-peak-to-rest);
        animation-fill-mode: forwards;
    }
    .anim--fuck-this-shit-im-out .view,
    .anim--fuck-this-shit-im-out .search-list {
        animation: fuck-this-shit-im-out .4s var(--anim-rest-to-peak);
        animation-fill-mode: forwards;
    }
}

@keyframes sliding-into-dms-like {
    from {
        opacity: 0;
        transform: translateY(5em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fuck-this-shit-im-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(5em);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        /* transform: scale(.72) translateY(-.5em); */
        transform: scale(.72) translateX(10rem);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
