:root {
    /* --accent: #448aff; */
    /* --palette: #6663ce #87c2d3; */
    --accent: #87c2d3;
    --color-err: #ff5144;
    --color-white: rgba(255,255,255, .52);
    --color-gray: rgba(255,255,255, .24);
    --color-dark: rgba(255,255,255, .12);
    --card-border: #424242;
    /* https://material.io/design/motion/speed.html#easing */
    --anim-std: cubic-bezier(0.4, 0.0, 0.2, 1);
    --anim-peak-to-rest: cubic-bezier(0.0, 0.0, 0.2, 1);
    --anim-rest-to-peak: cubic-bezier(0.4, 0.0, 1, 1);
    --anim-ez-overshoot: cubic-bezier(0.4, 0.0, 0.2, 1.4);
    --anim-hard-overshoot: cubic-bezier(0.4, 0.0, 0.2, 1.6);
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #1e1e1e;
    color: #fafafa;
}

body { margin: 0; }
:focus {
    outline: 0;
}

noscript {
    display: block;
    border: 1px solid #ff5144;
    border: 1px solid var(--color-err);
    padding: 0 1em;
}

summary {
    cursor: pointer;
    margin: -1em;
    padding: 1em; 
}
details {
    z-index: 3;
}
details > summary:focus {
    outline: 2px solid var(--accent);
    outline-offset: -2px;
}

i.material-icons {
    display: block;
}

/* 
 * [type="search"] looks weird on safari
 */
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

.loading {
    opacity: 1;
    margin: 0;
}
.container {
    padding: 0 1em;
    margin: 1em auto;
    /* margin-bottom: 1rem; */
    max-width: 840px;
}

.hero {
    background-color: var(--accent);
    background-image: url(/icons/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25vmin;
    padding: 25vw 0em 1.5em 0em;
    margin-bottom: 1.5rem;
}
.hero h1 {
    max-width: 840px;
    padding: 0 1rem;
    margin: 0 auto;
}

.yt-embed {
    position: relative;
    padding-top: 56.25%;
    background-color: #000;
}
.yt-embed * {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
}

[href] {
    color: var(--accent);
    text-decoration: none;
}
[href]:hover, [href]:focus {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
}
[href]:focus {
    outline: 2px solid var(--accent);
    outline-offset: 4px;
}

iframe, img {
    display: block;
    width: 100%;
}

code {
    font-size: 87%;
    padding: .2em .4em;
    background-color: #353535;
    color: #F06292;
    border-radius: 2px;
}

samp {
    font-size: 92%;
}

.with-love {
    color: var(--color-white);
    margin: 2em 0;
    text-align: right;
}
.with-love a {
    color: inherit;
    text-decoration: underline;
}

.flex { display: flex !important; align-items: center; }
.flex > * { margin: auto; }
.flex-stretch, .flex-stretch { flex: 1 !important; }

/* .yt-btn-group {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
} */

/***********************************************************
 * Search lol
 */

.yt-home-btn {
    padding: .25em;
    width: 48px;
    display: block;
}
.yt-home-btn:focus {
    outline-offset: 0;
}

ul.a11y-list,
ol.a11y-list {
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

/* see anim for search-li anims */
.search-li {
    border: 1px solid var(--color-gray);
}
.search-li:not(:last-child) {
    border-bottom: 0;
}

.search-card {
    display: flex;
    color: inherit;
    text-decoration: inherit;
}
.search-card-content {
    flex: 1;
    padding: 1em;
    order: 2;
    margin: auto 0;
}
.search-card-cover {
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    max-width: 30%;
    resize: horizontal;
    order: 1;
}
.search-card-cover::after {
    flex: 1;
    content: '';
    display: block;
    padding-top: 56.25%;
}
.search-card-duration {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    padding: .25em .5em;
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
}
.search-card-entry {
    opacity: .72;
    display: block;
    font-size: 12px;
    margin-bottom: .125em;
    font-weight: 300;
}
.search-card-entry:first-child {
    opacity: 1;
    font-weight: 400;
    font-size: 14px;
}
.search-card:hover, .search-card:focus {
    text-decoration: none;
}
.search-card:focus {
    outline-offset: 0px;
}

/***********************************************************
 * yt
 */

.yt {
    border: 1px solid var(--color-gray);
    background-color: #1e1e1e;
    overflow: hidden;
}

.yt-dl__mini-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: .5em;
}
.yt-dl__txt-label {
    margin-right: .5em;
}

.yt-embed, .yt-dl {
    border-bottom: 1px solid var(--color-gray);
}
.yt-dl {
    padding: 1rem;
}
.yt-meta {
    padding: 0 1rem;
}
.yt-meta__title {
    display: block;
    font-size: 1.75rem;
    margin: .5rem 0;
    font-weight: bolder;
}
.yt-meta[data-category] .yt-meta__title::before {
    font-family: "Material Icons";
    display: inline-block;
    margin-right: .25em;
    opacity: .52;
    font-size: 20px;
}

.yt-meta[data-category="Music"] .yt-meta__title::before {
    content: "music_note";
}

.yt-meta__data {
    opacity: .72;
    display: block;
    margin: .125rem 0;
}
.yt-desc {
    white-space: pre-wrap;
    padding: 1rem;
}

.yt-related {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    line-height: 0;
    margin: 0;
    padding: 1rem;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-type: x proximity;
    scroll-snap-type: x proximity;
    scroll-padding: 1rem;
}
.yt-card {
    position: relative;
    display: inline-flex;
    width: 240px;
    height: 137.5px;
    border: 1px solid var(--card-border);
    margin-right: 1rem;
    background-size: cover;
    vertical-align: bottom;
    white-space: normal;
    line-height: 1.5;
    scroll-snap-align: start;
    color: inherit !important;
    text-decoration: inherit;
    transition: background .2s var(--anim-std);
    /* The var is populated by JavaScript lol */
    background-image: var(--card-bg-image);
}
.yt-card:hover, .yt-card:focus {
    text-decoration: none;
}
.yt-card:last-child {
    margin-right: 0;
}
.yt-card::before {
    display: block;
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    transition: opacity .2s var(--anim-std);
    opacity: .52;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.52));
}
.yt-card:hover::before,
.yt-card:focus::before {
    opacity: 1;
}

/* Remove the box shadow from the search dude (since no image is behind it, text is completely visible) */
.yt-card.yt-card--back-to-search::before {
    content: none;
}

/* Last card lol */
.yt-card--back-to-search__container {
    margin: auto;
    text-align: center;
}
.yt-card--back-to-search i.material-icons {
    display: inline-block;
    padding: .25em;
    font-size: 32px;
}
.yt-card--back-to-search .yt-card-label {
    display: block;
}

.yt-card--info {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    width: 100%;
    padding: .5rem;
    /* background: linear-gradient(transparent,rgba(0,0,0, .46)); */
}
.yt-card--info * {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/***********************************************************
 * yt-input
 */
 .yt-input {
    background: 0;
    border: 0;
    color: inherit;
    font: inherit;
    border: 2px solid var(--color-gray);
    outline: 0;
    padding: .5em .75em;
    width: 100%;
    font-size: 18px;
    transition:
        border .2s var(--anim-std),
        background .2s var(--anim-std)
    ;
}
.yt-input:focus {
    color: #fafafa;
    border-color: var(--accent);
    /* background-color: var(--dark); */
}

.yt-btn {
    background: 0;
    border: 0;
    color: var(--color-white);
    font: inherit;
    font-size: 14px;
    border: 2px solid var(--color-gray);
    outline: 0;
    padding: .25em .5em;
    transition:
        border .2s var(--anim-std),
        background .2s var(--anim-std)
    ;
}
.yt-btn:focus {
    color: #fafafa;
    outline: 2px solid var(--accent);
    /* background-color: var(--dark); */
}
.yt-btn:disabled {
    border-color: var(--color-dark);
    border-style: dashed;
}

.yt-select {
       -moz-appearance: none;
    -webkit-appearance: none;
            appearance: none;
    background: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iIzU0NTQ1NCI+PHBhdGggZD0iTTcgMTBsNSA1IDUtNXoiPjwvcGF0aD48L3N2Zz4=);
    background-position: right 50%;
    background-repeat: no-repeat;
    border: 2px solid var(--color-gray);
    border-radius: 0;
    color: var(--color-white);
    font: inherit;
    font-size: 14px;
    padding: .5em 1.5em .5em 1em;
    min-width: 120px;
}
.yt-select.yt-select--compact {
    padding: .25em 1.25em .25em .5em;
}
.yt-select:focus {
    border-color: var(--accent);
}
.yt-select:disabled {
    border-color: var(--color-dark);
    border-style: dashed;
}

/***********************************************************
 * yt-table
 */
.yt-table {
    margin: 1em -1em -1em -1em;
    overflow: scroll;
    white-space: nowrap;
}
.yt-table table {
    width: 100%;
    border: 0;
    /* border: 1px solid var(--color-gray); */
    text-align: left;
    border-collapse: collapse;
}
.yt-table th {
    padding: .25em 1em;
}
.yt-table thead {
    border-bottom: 1px solid var(--color-gray);
}
.yt-table thead tr th {
    font-weight: bold;
}

.yt-table tbody tr th {
    font-weight: inherit;
}
.yt-table tbody tr:nth-child(2n + 1) {
    background-color: var(--color-dark);
}

/***********************************************************
 * Media queries
 */
@media only screen and (max-width: 600px) {
    .container .mobile-edge-flush {
        margin-left: -1em;
        margin-right: -1em;
    }
    .search-card-content {
        padding: .5em;
    }
    .yt-meta {
        border-bottom: 1px solid var(--color-gray);
    }
    .yt {
        border-left: 0;
        border-right: 0;
        margin: 0;
    }
    .yt-dl__lists ul:nth-of-type(3) {
        flex: 1 100%;
    }
}

/***********************************************************
 * Anims
 */
@supports (--css: variables) {
    .search-li {
        opacity: 0;
        animation-name: slide-in;
        animation-duration: 250ms;
        animation-delay: calc(var(--animation-order) * 50ms);
        animation-fill-mode: forwards;
        animation-timing-function: var(--anim-peak-to-rest);
    }
}

.search-list {
    /* animation: sliding-into-dms-like .4s var(--anim-peak-to-rest); */
    animation-fill-mode: forwards;
}

.loading {
    animation: fade-in .2s var(--anim-peak-to-rest);
    animation-fill-mode: forwards;
    animation-delay: .4s;
    opacity: 0;
}
.view {
    animation: sliding-into-dms-like .4s var(--anim-peak-to-rest);
    animation-fill-mode: forwards;
}
.search {
    animation: fade-in .4s var(--anim-peak-to-rest);
    animation-fill-mode: forwards;
}
.fade-in-out {
    animation: fade-in .4s var(--anim-peak-to-rest);
    animation-fill-mode: both;
}
.anim--fuck-this-shit-im-out .view,
.anim--fuck-this-shit-im-out .search-list {
    animation: fuck-this-shit-im-out .4s var(--anim-rest-to-peak);
    animation-fill-mode: forwards;
}
.anim--fuck-this-shit-im-out .fade-in-out {
    animation: fade-out .4s var(--anim-rest-to-peak);
}

/* Reduced motion means _reduced_ motion, not no anims at all. */
@media (prefers-reduced-motion: reduce) {
    .view {
        animation-name: fade-in;
    }
    .anim--fuck-this-shit-im-out .view,
    .anim--fuck-this-shit-im-out .search-list {
        animation-name: fade-out;
    }
    .search-li {
        animation-name: fade-in;
    }
}

@keyframes sliding-into-dms-like {
    from {
        opacity: 0;
        transform: translateY(5em);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fuck-this-shit-im-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(5em);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        /* transform: scale(.72) translateY(-.5em); */
        transform: scale(.72) translateX(10rem);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
